# Create Heatmaps for Weather Parameters

In [6]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [7]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-02-10 17:55:13,-23.1203,-134.9692,78.66,73,70,10.65
1,1,La Asuncion,VE,2021-02-10 17:55:13,11.0333,-63.8628,80.10,70,2,16.08
2,2,Tiksi,RU,2021-02-10 17:55:14,71.6872,128.8694,-16.74,88,76,3.11
3,3,Bonthe,SL,2021-02-10 17:55:14,7.5264,-12.5050,83.46,68,54,12.86
4,4,Palu,ID,2021-02-10 17:55:14,-0.8917,119.8707,76.89,80,91,1.34

In [8]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

# Create a Maximum Temperature Heatmap

In [9]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)
g_key

'AIzaSyBNAxMJQfzcgO5fkZ-3_IeQ7y2nkwILcfk'

In [29]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Get Vacation Criteria

In [33]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

# Filter the data to fit the criteria

In [34]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-02-10 17:55:13,-23.1203,-134.9692,78.66,73,70,10.65
1,1,La Asuncion,VE,2021-02-10 17:55:13,11.0333,-63.8628,80.10,70,2,16.08
3,3,Bonthe,SL,2021-02-10 17:55:14,7.5264,-12.5050,83.46,68,54,12.86
4,4,Palu,ID,2021-02-10 17:55:14,-0.8917,119.8707,76.89,80,91,1.34
5,5,Chuy,UY,2021-02-10 17:55:14,-33.6971,-53.4616,77.88,65,7,11.92
8,8,Atuona,PF,2021-02-10 17:55:15,-9.8000,-139.0333,79.21,75,5,18.63
9,9,Vaini,TO,2021-02-10 17:55:15,-21.2000,-175.2000,78.80,94,75,5.75
10,10,Kavieng,PG,2021-02-10 17:55:15,-2.5744,150.7967,81.39,77,83,5.35
13,13,Langub,PH,2021-02-10 17:55:16,10.7981,123.5372,78.39,81,98,3.33
18,18,Riacho De Santana,BR,2021-02-10 17:55:17,-13.6092,-42.9389,82.89,65,31,1.79

In [35]:
# Determine if the DataFrame has any null values for any of the rows
preferred_cities_df.count()

City_ID       175
City          175
Country       174
Date          175
Lat           175
Lng           175
Max Temp      175
Humidity      175
Cloudiness    175
Wind Speed    175
dtype: int64

In [27]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
3      Port Blair      IN     80.87  11.67   92.75
4      Sao Filipe      CV     82.78  14.90  -24.50
17         Avarua      CK     78.80 -21.21 -159.78
18      Gushikawa      JP     77.00  26.35  127.87
19       Cururupu      BR     80.26  -1.83  -44.87
20           Sola      VU     79.75 -13.88  167.55
22  Copperas Cove      US     84.99  31.12  -97.90
27         Faanui      PF     79.27 -16.48 -151.75
30         Sorong      ID     78.48  -0.88  131.25
31         Atuona      PF     78.60  -9.80 -139.03

# Set the Parameters for a Nearby Search

In [29]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

# The Nearby Search request lets us perform these tasks:
The Nearby Search request lets us perform these tasks:

Search for places within a specified area.
Refine the search using keywords and specifying the type of place we are searching for.
Use an API URL, where the output can be either XML or JSON format.
Although very similar to our OpenWeatherMap API search, with the Google Places Nearby Search, we'll add a specified area and keyword to search.

The documentation states we must provide specific parameters.

# Required parameters
key - Your Application's API key.  This indentifies your application.  
location - The latitude/longitude around which to retrieve place information.  This must be specified as latitude,longitude.
radius - Defines the distance in meters within which to return place results. The maximum allowed radius is 50000 meters.  Note that radius must not include if ranky=distance is specified.
if ranky=distance is specified, then one or more of keyword, name, or type is required.

In [35]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    #Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Port Blair,IN,80.87,11.67,92.75,Fortune Resort Bay Island
4,Sao Filipe,CV,82.78,14.90,-24.50,Tortuga B&B
17,Avarua,CK,78.80,-21.21,-159.78,Paradise Inn
18,Gushikawa,JP,77.00,26.35,127.87,Kirari Guest House
19,Cururupu,BR,80.26,-1.83,-44.87,Pousada Través'cia
20,Sola,VU,79.75,-13.88,167.55,Leumerus Bungalows
22,Copperas Cove,US,84.99,31.12,-97.90,Super 8 by Wyndham Copperas Cove
27,Faanui,PF,79.27,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
30,Sorong,ID,78.48,-0.88,131.25,The Waigo Hotel
31,Atuona,PF,78.60,-9.80,-139.03,Villa Enata

# Add a pop up Marker

In [36]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [ ]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [ ]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig