In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2020-10-19 20:52:11,-53.15,-70.92,44.60,65,40,36.91
1,1,Ushuaia,AR,2020-10-19 20:51:21,-54.80,-68.30,39.20,80,90,38.03
2,2,Batagay-Alyta,RU,2020-10-19 20:53:10,67.80,130.41,14.23,89,100,1.59
3,3,Port Blair,IN,2020-10-19 20:52:10,11.67,92.75,80.87,84,25,13.56
4,4,Sao Filipe,CV,2020-10-19 20:53:02,14.90,-24.50,82.78,66,48,7.70

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)
g_key

'AIzaSyBNAxMJQfzcgO5fkZ-3_IeQ7y2nkwILcfk'

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights= temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Port Blair,IN,2020-10-19 20:52:10,11.67,92.75,80.87,84,25,13.56
4,4,Sao Filipe,CV,2020-10-19 20:53:02,14.90,-24.50,82.78,66,48,7.70
17,17,Avarua,CK,2020-10-19 20:52:21,-21.21,-159.78,78.80,78,0,6.93
18,18,Gushikawa,JP,2020-10-19 20:55:35,26.35,127.87,77.00,88,20,13.87
19,19,Cururupu,BR,2020-10-19 20:53:09,-1.83,-44.87,80.26,73,73,4.36
20,20,Sola,VU,2020-10-19 20:52:26,-13.88,167.55,79.75,79,46,18.30
22,22,Copperas Cove,US,2020-10-19 20:55:36,31.12,-97.90,84.99,54,1,5.82
27,27,Faanui,PF,2020-10-19 20:53:40,-16.48,-151.75,79.27,81,0,18.52
30,30,Sorong,ID,2020-10-19 20:55:37,-0.88,131.25,78.48,82,100,6.96
31,31,Atuona,PF,2020-10-19 20:52:15,-9.80,-139.03,78.60,74,0,18.59

In [16]:
preferred_cities_df.count()

City_ID       176
City          176
Country       176
Date          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
dtype: int64

In [27]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
3      Port Blair      IN     80.87  11.67   92.75
4      Sao Filipe      CV     82.78  14.90  -24.50
17         Avarua      CK     78.80 -21.21 -159.78
18      Gushikawa      JP     77.00  26.35  127.87
19       Cururupu      BR     80.26  -1.83  -44.87
20           Sola      VU     79.75 -13.88  167.55
22  Copperas Cove      US     84.99  31.12  -97.90
27         Faanui      PF     79.27 -16.48 -151.75
30         Sorong      ID     78.48  -0.88  131.25
31         Atuona      PF     78.60  -9.80 -139.03

In [29]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

In [35]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    #Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Port Blair,IN,80.87,11.67,92.75,Fortune Resort Bay Island
4,Sao Filipe,CV,82.78,14.90,-24.50,Tortuga B&B
17,Avarua,CK,78.80,-21.21,-159.78,Paradise Inn
18,Gushikawa,JP,77.00,26.35,127.87,Kirari Guest House
19,Cururupu,BR,80.26,-1.83,-44.87,Pousada Través'cia
20,Sola,VU,79.75,-13.88,167.55,Leumerus Bungalows
22,Copperas Cove,US,84.99,31.12,-97.90,Super 8 by Wyndham Copperas Cove
27,Faanui,PF,79.27,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
30,Sorong,ID,78.48,-0.88,131.25,The Waigo Hotel
31,Atuona,PF,78.60,-9.80,-139.03,Villa Enata

In [43]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [44]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [45]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))