## Deliverable 2. Create a Customer Travel Destinations Map.

In [ ]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
os.getcwd()

'C:\\Users\\Stephen\\Desktop\\Class Projects\\World_Weather_Analysis\\Vacation_Search'

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("C:\\Users\\Stephen\\Desktop\\Class Projects\\World_Weather_Analysis\\Weather_Database/WeatherPy_DataBase.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Itoman,JP,26.12,127.67,78.8,88,75,8.05,light intensity shower rain
1,1,Mehamn,NO,71.04,27.85,32.0,92,40,8.05,scattered clouds
2,2,Kodiak,US,57.79,-152.41,39.2,60,1,12.75,clear sky
3,3,Yarada,IN,17.65,83.27,82.4,94,90,2.24,heavy intensity rain
4,4,Mataura,NZ,-46.19,168.86,45.0,77,94,1.99,overcast clouds

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 80

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Itoman,JP,26.12,127.67,78.80,88,75,8.05,light intensity shower rain
5,5,Rikitea,PF,-23.12,-134.97,73.54,68,40,8.70,scattered clouds
12,12,Saint-Pierre,RE,-21.34,55.48,75.20,69,39,13.87,scattered clouds
13,13,Kapaa,US,22.08,-159.32,77.23,75,0,3.71,clear sky
14,14,Pangkalanbuun,ID,-2.68,111.62,76.51,94,100,0.31,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
668,668,Barranco,PA,9.52,-82.70,77.00,94,90,4.70,light intensity drizzle
673,673,Saint-Francois,FR,46.42,3.91,69.80,52,88,18.34,overcast clouds
675,675,Nyakabindi,TZ,-2.63,33.98,74.57,67,63,10.56,light rain
676,676,Kalemie,CD,-5.95,29.19,76.57,71,98,5.12,light rain
679,679,Itoman,JP,26.12,127.67,78.80,94,75,6.93,light intensity shower rain

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                248
City                   248
Country                246
Lat                    248
Lng                    248
Max Temp               248
Humidity               248
Cloudiness             248
Wind Speed             248
Current Description    248
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_preferred_cities_df = preferred_cities_df.dropna()
clean_preferred_cities_df.count()

City_ID                246
City                   246
Country                246
Lat                    246
Lng                    246
Max Temp               246
Humidity               246
Cloudiness             246
Wind Speed             246
Current Description    246
dtype: int64

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Itoman,JP,78.80,light intensity shower rain,26.12,127.67,
5,Rikitea,PF,73.54,scattered clouds,-23.12,-134.97,
12,Saint-Pierre,RE,75.20,scattered clouds,-21.34,55.48,
13,Kapaa,US,77.23,clear sky,22.08,-159.32,
14,Pangkalanbuun,ID,76.51,overcast clouds,-2.68,111.62,
17,Castro,BR,78.49,clear sky,-24.79,-50.01,
20,Avarua,CK,73.40,light intensity drizzle,-21.21,-159.78,
21,Wajima,JP,65.14,overcast clouds,37.40,136.90,
22,Faanui,PF,77.90,scattered clouds,-16.48,-151.75,
24,Ilam,NP,60.69,few clouds,26.92,87.92,

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
     "radius": 5000,
     "type": "lodging",
     "key": g_key
 }

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not Found.....skipping")

Hotel not Found.....skipping
Hotel not Found.....skipping
Hotel not Found.....skipping
Hotel not Found.....skipping
Hotel not Found.....skipping
Hotel not Found.....skipping
Hotel not Found.....skipping
Hotel not Found.....skipping
Hotel not Found.....skipping
Hotel not Found.....skipping
Hotel not Found.....skipping
Hotel not Found.....skipping
Hotel not Found.....skipping
Hotel not Found.....skipping
Hotel not Found.....skipping
Hotel not Found.....skipping
Hotel not Found.....skipping

In [12]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.count()

City                   246
Country                246
Max Temp               246
Current Description    246
Lat                    246
Lng                    246
Hotel Name             246
dtype: int64

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Itoman,JP,78.80,light intensity shower rain,26.12,127.67,Southern Beach Hotel & Resort Okinawa
5,Rikitea,PF,73.54,scattered clouds,-23.12,-134.97,Pension Maro'i
12,Saint-Pierre,RE,75.20,scattered clouds,-21.34,55.48,Lindsey Hôtel
13,Kapaa,US,77.23,clear sky,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
14,Pangkalanbuun,ID,76.51,overcast clouds,-2.68,111.62,Grand Kecubung Hotel
...,...,...,...,...,...,...,...
668,Barranco,PA,77.00,light intensity drizzle,9.52,-82.70,
673,Saint-Francois,FR,69.80,overcast clouds,46.42,3.91,Manoir Du Bonheur
675,Nyakabindi,TZ,74.57,light rain,-2.63,33.98,
676,Kalemie,CD,76.57,light rain,-5.95,29.19,Mahobilali
679,Itoman,JP,78.80,light intensity shower rain,26.12,127.67,Southern Beach Hotel & Resort Okinawa

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]


# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))